* {
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: white;
    background-color: rgb(184, 179, 179);
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

h1, h2 {
    margin-bottom: 15px;
}

.container {
    max-width : 1100px;
    margin : 0 auto;
    padding : 0 30px;
}

.navbar {
    background-color: rgb(55, 56, 56);
    color: whitesmoke;
    height: 60px;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}

.navbar a{
    color: white;
    text-decoration: none;
    font-weight: blod;
    font-size: 18px;
}

.navbar a:hover{
    color: black;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.navbar ul{
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.header {
    background-color: dimgray;
    min-height: 300px;
    padding: 10% 0;
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.header img {
    max-width: 400px;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boxes {
    color: rgb(214, 210, 210);
}

.boxes .container {
    display: flex;
    justify-content: space-between;
}

.box {
    flex: 1;
    background-color: dimgray;
    color: white;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 15px 20px;
}

@media(max-width: 768px) {
    .header .container{
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    .boxes .container {
        display: block;
        text-align: center;
    }
}